<main class="container-main row">
  <div class="card col-2 border-white">
  <img src="../../assets/images/74-744591_student-education-welcome-teacher-cartoon-images-hd-hd.png" class="card-img-top mt-5" alt="...">
  <div class="card-body">
    <h3 class="card-title mb-5">Portal Avante</h3>
    <p class="card-text">Conectando professores e alunos!</p>
    <p class="card-text">Registre-se abaixo para começar sua jornada!!</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a class="btn btn-primary btn-lg btn-block" routerLink="/teacherRegister" routerLinkActive="active">Professor</a></li>
    <li class="list-group-item"><a class="btn btn-primary btn-lg btn-block" routerLink="/studentRegister" routerLinkActive="active">Aluno</a></li>
  </ul>
  </div>
  <div class="image-home col-10">
    <img src="../../assets/images/6663.png" alt="Students">
  </div>
</main>
